h1{
    background-color: brown;
    font-size: 20px;
}

.parrafo{
    background-color: rgb(33, 25, 146);
    color: white;
    font-size: 20px;
}

p{
    background-color: rgb(25, 146, 65);
    font-size: 15px;
}